<div class="row bgcolor-verdegris padding-top-bottom">
	<div class="container inicio-servicios">
		<ul class="da-thumbs da-thumbs-acercade row">
			<li class="col-md-4 col-sm-4 col-xs-12 item">
				<a href="#mision" class="opcion">
					<img src="{img_mision}" class="img-responsive" alt="Servicios Arbibe" title="Misión Arbibe" >
					<div class="over text-center">
						<span class="flaticon flaticon-people"></span>
					</div>	
				</a>
				<div href="#mision" class="desc opcion">
					<p class="text-center"><strong>{title_mision}</strong></p>
				</div>
			</li>
			<li class="col-md-4 col-sm-4 col-xs-12 item">
				<a href="#vision" class="opcion">
					<img src="{img_vision}" class="img-responsive" alt="Servicios Arbibe" title="Visión Arbibe" >
					<div class="over text-center">
						<span class="flaticon flaticon-people"></span>
					</div>
				</a>
				<div href="#vision" class="desc opcion">
					<p class="text-center"><strong>{title_vision}</strong></p>
				</div>
			</li>
			<li class="col-md-4 col-sm-4 col-xs-12 item">
				<a href="#valores" class="opcion">
					<img src="{img_valores}" class="img-responsive" alt="Servicios Arbibe" title="Valores Arbibe" >
					<div class="over text-center">
						<span class="flaticon flaticon-people"></span>
					</div>
				</a>
				<div href="#valores" class="desc opcion">
					<p class="text-center"><strong>{title_valores}</strong></p>
				</div>
			</li>
		</ul>
		<div class="descripcion-content row">
			<div id="mision" class="seopcion one col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 text-justify">
				<p>{txt_mision}</p>
			</div>
			<div id="vision" class="seopcion one col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 text-justify">
				<p>{txt_vision}</p>
			</div>
			<div id="valores" class="seopcion one col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 text-justify">
				<p>{txt_valores}</p>
			</div>
		</div>
	</div>
</div>