<div class="modal fade" id="asignacion-empleados" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form id="form-modal-validate" action="{BASE_URL}admin/empresas/process_asignacion_empleados">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{empresas_asignacion_empleado}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group label-floating has-success">
                                <input type="hidden" name="id_empresa" id="id_empresa" value="{id_empresa}">
                                <label class="control-label" for="id_sucursal">{empresas_sucursal} </label>
                                {select_sucursales}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            {dataTable}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="category text-danger">
                        {empresas_message1}
                    </div>
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">
                        {general_cerrar}
                    </button>
                    <button type="submit" class="btn btn-success submit">{general_guardar}</button>
                </div>
            </div>
        </form>
    </div>
</div>