<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <a href="#" class="card-header card-header-icon open-modal" data-background-color="green">
                    <i class="material-icons">add_circle</i>
                </a>
                <div class="card-content">
                    <input type="hidden" name="empresa" id="empresa" value="{empresa}">
                    <input type="hidden" name="id_empresa" id="id_empresa" value="{id_empresa}">
                    <h4 class="card-title">{subtitle}</h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="content-list-empleados">
                        {data_table}
                    </div>

                    <a href="{BASE_URL}admin/empresas" class="btn btn-link text-danger pull-right">
                        <i class="material-icons">reply</i>
                        {general_regresar}
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>