<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <a href="{BASE_URL}admin/new-empresa" class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">add_circle</i>
                </a>
                <div class="card-content">
                    <h4 class="card-title">{subtitle}</h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    {data_table}
                </div>
            </div>
        </div>
    </div>
</div>