#####################################
# CONFIGURATION DATA OF EMAIL	 	#
#####################################
SEND_MAIL=1
LOG_PATH=logs/Mail/
LOG_FILE_EXTENSION=log
LOG_FILE_PERMISSIONS=0644
LOG_DATE_FORMAT=Y-m-d H:i:s

#-------CONFIG GMAIL-----------------
# Enable SMTP debugging
# 0 = off (for production use)
# 1 = client messages
# 2 = client and server messages
SMTPDEBUG=2

# How to handle debug output.
# Options:
#  `echo` Output plain-text as-is, appropriate for CLI
#  `html` Output escaped, line breaks converted to `<br>`, appropriate for browser output
#  `error_log` Output to error log as configured in php.ini
DEBUGOUTPUT=html

# What kind of encryption to use on the SMTP connection.
# Options: '', 'ssl' or 'tls'
SMTPSECURE=tls

# How to port use to connection
# Options: ports default
# `465` is required ssl
# `587` is required tls
PORT=587

# How to message type to HTML or plain.
# Options: '' or 'html'
MAILTYPE=html

# The SMTP server timeout in seconds.
TIMEOUT=30

HOST=smtp.gmail.com
SMPT_AUTH=1
USERNAME=5H2desarrollo@gmail.com
NAME=SOPORTE
PASSWORD=5H2D35@rr0ll0