<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form class="restart-pass" method="post" action="{BASE_URL}admin/process_restart_password">
                <div class="card card-login card-hidden">
                    <div class="card-header text-center" data-background-color="rose">
                        <h4 class="card-title">{login_restore_pass}</h4>
                    </div>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating has-success">
                                <label class="control-label">{login_new_pass}</label>
                                <input type="hidden" id="id_usuario" name="id_usuario" value="{id_usuario}">
                                <input type="password" id="password" class="form-control validate required encript-md5" name="password" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating has-success">
                                <label class="control-label">{login_confir_pass}</label>
                                <input type="password" id="password_again" class="form-control validate required encript-md5" name="password_again" required>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a href="#" class="required-pass btn btn-link text-info">
                            <i class="material-icons" style="font-size: 3rem;">info</i>
                        </a>
                        <button type="submit" class="btn btn-success btn-wd submit">
                            {general_aceptar}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="hidden requeriment-list">
    <ul class="list-group" style="text-align: left; font-size: 12px;">
        <li class="list-group-item">{cuenta_requeriment_1}</li>
        <li class="list-group-item">{cuenta_requeriment_2}</li>
        <li class="list-group-item">{cuenta_requeriment_3}</li>
        <li class="list-group-item">{cuenta_requeriment_4}</li>
        <li class="list-group-item">{cuenta_requeriment_5}</li>
        <li class="list-group-item">{cuenta_requeriment_6}</li>
        <li class="list-group-item">{cuenta_requeriment_7}</li>
    </ul>
</div>