    
    <!-- close container -->
    </div>
    <footer class="arbibe-fotter bgcolor-verdeazul container-fluid">
       	<div class="row footer-top">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12 dertext">
                    <p style="margin-bottom: 5px;">Visitas: <span id="visitas"></span></p>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <ul class="menu-footer row">
                    	{menu_website}
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 text-right small-window">
                    <p>
                    	<a href="tel:9988862193">
                    		<span class="flaticon flaticon-telephone" style="margin-right:4px;"></span>
                    		+52 (998) 886-21-93
                    	</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row footer-bottom ">
            <div class="container">
               	<div class="col-md-9 col-sm-9 col-xs-12 dertext">
                    <p>Todos los Derechos Reservados #174 Arbibe 2016</p>
                </div>
    	       	<div class="col-md-3 col-sm-3 col-xs-12 pull-right text-right">
    	            <p><a href="https://www.facebook.com/edificaciones.arbibe" target="_blank"><span class="flaticon flaticon-square" style="margin-right:4px;"></span> /EdificacionesArbibe</a></p>
    	       	</div>
    	    </div>
        </div>
    </footer>
</div>
{INCLUDES_FOOTER}




