<meta charset="{APP_CHARSET}"/>
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
<link rel="icon" type="image/png" href="assets/img/favicon.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{APP_TITLE}</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<!-- Bootstrap core CSS     -->
<link href="{BASE_URL}assets/templates/Material_Dashboard/css/bootstrap.min.css" rel="stylesheet" />
<!--  Material Dashboard CSS    -->
<link href="{BASE_URL}assets/templates/Material_Dashboard/css/material-dashboard.css" rel="stylesheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="{BASE_URL}assets/templates/Material_Dashboard/css/demo.css" rel="stylesheet" />
<!--     Fonts and icons     -->
<link href="{BASE_URL}assets/vendor/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Parisienne' rel='stylesheet' type='text/css'>

<!--    CSS for sweetalert2    -->
<link rel="stylesheet" type="text/css" href="{BASE_URL}assets/vendor/sweetalert2/dist/sweetalert2.css">

<!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<link rel="stylesheet" type="text/css" href="{BASE_URL}assets/vendor/jasny-bootstrap/css/jasny-bootstrap.css">

<!-- Include Editor style. -->
<link rel='stylesheet' type='text/css' href='{BASE_URL}assets/vendor/froala_editor_2.7.1/css/froala_editor.min.css'/>
<link rel='stylesheet' type='text/css' href='{BASE_URL}assets/vendor/froala_editor_2.7.1/css/froala_style.min.css'/>
<!-- Include Editor plugins CSS style. -->
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/char_counter.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/code_view.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/colors.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/emoticons.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/fullscreen.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/image.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/image_manager.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/line_breaker.min.css">
<link rel="stylesheet" href="{BASE_URL}assets/vendor/froala_editor_2.7.1/css/plugins/table.min.css">

<!--    CSS general and custom for SYSTEM     -->
<link rel="stylesheet" type="text/css" href="{BASE_URL}assets/css/general.css">
<link rel="stylesheet" type="text/css" href="{BASE_URL}assets/css/custom.css">

<!-- JS INCLUDES -->
<script src="{BASE_URL}assets/vendor/jquery/jquery-3.2.1.js"></script>
<script type="text/javascript">
    var language = '{LANG}';
</script>

<!-- Includes JS Files of application -->
{INCLUDES_HEADDER}