<div class="sidebar" data-active-color="green" data-background-color="black" data-image="{BASE_URL}assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
    <div class="logo">
        <a href="{BASE_URL}" class="simple-text">
            {APP_TITLE}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="{BASE_URL}assets/img/faces/avatar.png" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseUser" class="collapsed">
                    <span>
                        {nombre} {paterno} {materno}
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseUser">
                    <ul class="nav">
                        <li>
                            <a href="{BASE_URL}admin/cuenta">
                                <span class="sidebar-mini">&nbsp;</span>
                                <span class="sidebar-normal">{mi_perfil}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{BASE_URL}admin/logout">
                                <span class="sidebar-mini">&nbsp;</span>
                                <span class="sidebar-normal">{salir}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            {MENU_VERTICAL}
        </ul>
    </div>
</div>