<!doctype html>
<html lang="{APP_LANG}">
	<head>
		{HEADER}
	</head>
	<body class="{BODY_CLASS}">
		<div class="wrapper">
		    {MENU_DASHBOARD}
		    <div class="main-panel">
		        {MENU_APPLICATION}
		        <div class="content">
					{CONTENT_PAGE}
				    <!-- <footer class="footer">
		                <div class="container-fluid">
		                    <nav class="navbar navbar-default navbar-fixed-bottom pull-left">
		                        <ul>
		                            <li>
		                                <a href="#">
		                                    Home
		                                </a>
		                            </li>
		                            <li>
		                                <a href="#">
		                                    Company
		                                </a>
		                            </li>
		                            <li>
		                                <a href="#">
		                                    Portfolio
		                                </a>
		                            </li>
		                            <li>
		                                <a href="#">
		                                    Blog
		                                <div class="ripple-container"></div></a>
		                            </li>
		                        </ul>
		                    </nav>
		                    <p class="copyright pull-right">
		                        ©
		                        <script async="" src="//www.google-analytics.com/analytics.js"></script><script>
		                            document.write(new Date().getFullYear())
		                        </script>2017
		                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
		                    </p>
		                </div>
		            </footer> -->
			    </div>
	         </div>
	   	</div>
	   	<div id="content-extras"></div>
	</body>
	{FOOTER}
</html>