<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">{subtitle}</h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing card-raised">
                            <div class="content">
                                <div class="icon icon-info">
                                    <i class="material-icons">add</i>
                                </div>
                                <p class="card-description">
                                    Registra nuevos productos
                                </p>
                                <a href="{BASE_URL}admin/add_productos" class="btn btn-info btn-round">Agregar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing card-raised">
                            <div class="content">
                                <div class="icon icon-success">
                                    <i class="material-icons">done_all</i>
                                </div>
                                <p class="card-description">
                                    Busca un producto
                                </p>
                                <a href="#" class="btn btn-success btn-round">Consultar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing card-raised">
                            <div class="content">
                                <div class="icon icon-warning">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <p class="card-description">
                                    Actualiza precios
                                </p>
                                <a href="#" class="btn btn-warning btn-round">Precios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>